

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat&display=swap');

#header{

    background-image: url(../images/header/bg1.png);
    background-size: cover;
    height: 750px;
    margin: 0;
    padding: 0;
}



/* ************VASPA-SECTION*********** */

#header .vaspa-logo{

font-size: 13px;
margin-right: 40px;

}

#header .vaspa-logo span{

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #3d2514;
} 

/* **********NAVIGATION-BAR-SECTION********* */



#header .nav .nav-link{

    color:#3d2514 ;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-right: 21px;
}

/* ***********BARGUR-IMAGE-TEXT-SECTION******** */
#header .text {
    padding-top: 90px;
}

#header .text p{
font-size: 16px;
border: 2px dashed #3d2514 ;
width: 342px;
padding: 5px 7px;
color:#3d2514 ;
}

#header .text h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 109px;
    color:#3d2514 ;
    text-shadow: 2px 3px white
}

#header .text h3{
    font-family: 'Alfa Slab One', cursive;
    font-size: 53px;
    color:#3d2514 ;
    text-shadow: 2px 3px white
}

#header .burger {

    height: 800px;
    width: 850px;
    position: absolute;
    top: -109px;

}

/* *************HERO-AREA*********** */

#hero-area .img .position-1{

position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

#hero-area .img .position-2{

    position: absolute;
        top: 50px;
        left: 20px;
        color: white;
        font-family: 'Bebas Neue', cursive;
    }

 #hero-area .button a {

    border-radius: 0px;
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 7px 39px
 }

 /* *********Slide-Area********** */

 #slide-area h1{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 56px;
 }

 #slide-area p{
    color: #3d2514;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
 }

 #slide-area .carousel-caption h3{

    font-family: 'Bebas Neue', cursive;
    font-size: 37px;
    color: black;
 }

 #slide-area .carousel-caption p{

    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    color: black;
 }
 #slide-area .carousel-caption a{

background-color: #bf2222;
border-radius: 0px;
padding: 7px 31px;
font-family: 'Alfa Slab One', cursive;

 }

 #slide-area .carousel-caption a:hover{

    background-color: red;
   
     }


     /* *********BLOG-CARD-SECTION******* */


     #blog-card .card h2{

        color: #3d2514;
        font-family: 'Alfa Slab One', cursive;
     }

     #blog-card .card h4{

        color: #3d2514;
        font-family: 'Bebas Neue', cursive;
     }


     /* ********BOOK-TABLE-SECTION********* */


     #book-table .img-1 {
        position: absolute;
        left: 0px;
    }


     #book-table .img-2  {
        width: 215px;
        position: absolute;
        top: 275px;
        left: 73px
    }
    

     
     #book-table .heading h1{
        letter-spacing: 3px;
        color: #3d2514;
        font-family: 'Alfa Slab One', cursive;
     }

     #book-table .heading h5{

        color: #3d2514;
        font-family: 'Bebas Neue', cursive;
     }


     #book-table .form-row input{

        padding: 30px;
     }

     #book-table .form-row a{

        padding: 17px;
     }


     #book-table .plate-img{
        
            position: absolute;
            top: 311px;
            right: 0px;
        
     }

     /* *************FOOTER-SECTION******* */

     #footer .bg-img{
         background-image: url(../images/footer/footer-bg-img.png);
         background-size: cover;
     }


     #footer .footer-text{
        font-family: 'Montserrat', sans-serif;
        
     }

      #footer .location-icon,.message-icon{

        max-width: 45%;
        margin: 10px auto;
        
     } 

     
     #footer .location-icon{

        margin-top: 200px;
        
     }

     #footer .copy-right{
        color: white;
        font-family: 'Bebas Neue', cursive;
     }
   
/* ****************Media-Query********* */

@media only screen and (max-width:1200px){

   #header .text p{
      font-size: 13px;
      
      }
      
      #header .text h1{
         
          font-size: 80px;
       
      }
      
      #header .text h3{
          
          font-size: 40px;
          
      }
      #header .burger {

         height: 700px;
         width: 750px;
         
     
     }
     #header .text p {
  
      width: 290px;
   }
}
@media only screen and (max-width:996px){

      #header{

         height: 900px;
     }

     #blog-card .card-body{

      text-align: -moz-center;
  
  }
  #blog-card img{
     padding-left: 25px;
  }

 

}
@media (max-width:996px) and (min-width:770px){

#hero-area .img .position-1{

font-size: 13px;
}

#hero-area .img .position-2{

   font-size: 20px;
}
}

@media only screen and (max-width:1100px){


  #blog-card .card h2{

   font-size: 27px;
}

#blog-card .card h4{

   font-size: 19px;
}
  
#blog-card .card p{

   font-size: 15px;
}
}

@media only screen and (max-width: 768px){

   #book-table .plate-img {
      top: 487px
  }
  #book-table .img-2 {
   top: 388px;
   left: 50px;
   height: 334px;
}
#book-table .img-1 {
   top: 139px;
}
#footer .footer-bottom .col-md-6{
   text-align: center;
}


#footer .location-icon,.message-icon{

   max-width: 45%;
   margin: 30px 0 0 50px;
   
} 

}

@media only screen and (max-width:575px) {


   #header{
     
      height: 950px;
  }
.burger-logo{
   text-align: center;
}
.vaspa-logo{
   text-align: center;
}

}

@media only screen and (max-width:562px) {

   
   #book-table .form-row input {
      padding: 0px;
  }
  #book-table .plate-img {
   top: 560px;
}
#book-table .img-2 {
   top: 364px;
   left: 33px;
   height: 334px;
}
#book-table .heading h1 {
  
   font-size: 30px;
}
#book-table .heading h4 {
   font-size: 21px;
}
}

@media only screen and (max-width:460px){

   #header .text p {
      width: 195px;
  }
  #header .text p {
      font-size: 9px;
  }
  #header .text p{

   border: 1px dashed #3d2514 ;
   
   }
  #header .text h1 {
   font-size: 59px;
}
#hero-area .img .position-1 {
   
   font-size: 15px;
}
#hero-area .img .position-2 {
  
   font-size: 25px;
}
hero-area .button a {
 
   font-size: 17px;
}
#slide-area h1 {
  
   font-size: 43px;
}
#slide-area .carousel-caption h3 {

   font-size: 25px;
   
}
#slide-area .carousel-caption p {
   font-size: 13px;
  
}
#slide-area .carousel-caption a {
 
   padding: 6px 15px;
   font-size: 9px;
}
#hero-area .button a {
   
   font-size: 13px;
   padding: 5px 29px;
}
#slide-area h1 {
   font-size: 33px;
}
#slide-area p {

   font-size: 9px;
}
#book-table .heading h4 {
   font-size: 11px;
}
#book-table .heading h1 {
   font-size: 17px;
}
#slide-area .carousel-caption h3 {
   font-size: 15px;
}
#slide-area .carousel-caption p {
   font-size: 9px;
}
#slide-area .carousel-caption a {
   padding: 5px 11px;
   font-size: 5px;
}
#blog-card .card h4 {
   font-size: 13px;
}
#blog-card .card h2 {
   font-size: 19px;
}
#blog-card .card p {
   font-size: 9px;
}
#book-table .form-row a {
   padding: 11px;
}
#footer .footer-text {
   
   font-size: 9px;
}
#footer .copy-right {
  
   font-size: 9px;
}
}

@media only screen and (max-width:340px){
   #header .vaspa-logo span {
    
      font-size: 9px;
  }
   #header .text p {
      font-size: 7px;
  }
  #header .text p {
      width: 159px;
  }
  #header .text p{

   border: 1px dashed #3d2514 ;
   
   }
   #header .text h1 {
      font-size: 47px;
  }
  #header .burger {
   height: 630px;
   width: 345px;
}
#hero-area .img .position-1 {
   font-size: 11px;
}
#hero-area .img .position-2 {
   font-size: 15px;
}

}

@media only screen and (max-width:267px){
   .position-1 {
      font-size: 7px;
  }
  
#hero-area .img .position-2 {

    font-size: 9px;

}
#hero-area .button a{
   font-size: 9px;
   padding: 3px 17px;
}
#slide-area h1 {
   font-size: 25px;
}
#slide-area .carousel-caption h3 {
   font-size: 11px;
}
#slide-area .carousel-caption p {
   font-size: 7px;
}
#slide-area .carousel-caption a {
   padding: 3px 7px;
   font-size: 3px;
}
#book-table .heading h4 {
   font-size: 6px;
}
#book-table .heading h1 {
   font-size: 11px;
}
#book-table .form-row a {
   padding: 5px;
}
#book-table .form-row input {
   padding: 0px;
   height: 29px;
}
#book-table .img-2 {
   top: 364px;
   left: 21px;
   height: 217px;
}
#book-table .plate-img {
   top: 462px;
}
#header .burger-logo img {
   height: 23px;
}
#header .vaspa-logo {
   font-size: 13px;
   margin-right: 13px;
}
#footer .bg-img {
   position: absolute;
   top: -199px;
}

#footer .copy-right {
   display: block;
   text-align: center;
   padding-top: 7px;
}
#footer .location-icon img{
   margin-left: 30px;
}
#footer .message-icon img{
   margin-left: 30px;
}
#footer .footer-bottom .bottom-icon img{
   margin-bottom: 7px;
}
}